graft docs
include docs.html
graft pyrdnap/v1grid
graft pyrdnap/v2grid
include requiremnts.txt
graft test
graft testcoverage
include testcoverage.pdf
include testcoverage.rc
graft testresults
include testresults/Z001_ETRSandRDNAP-self-validation-results.txt
